/* WHOLE PAGE STYLE */
/*need to tell the broswer to ignore the padding in the overall width*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #214b6d;
    --secondary-color: #0f5045;
    --tertiary-color: #e49218;
  }
/* -END WHOLE PAGE STYLE- */

/*BODY STYLE STARTS*/
body{
    color: #214b6d;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*-BODY STYLE ENDS-*/

/* HEADER STYLE STARTS */
header{
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* the -webkit-sticky is used to make sure other browsers can use the stylesheet */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}
/* style to the nav element and moved it to the right side of the page */
header nav{
    margin: 7px 0;
}
/* add flexbox to the nav elements */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
.navigation{
    justify-content: flex-end;
}
/* styled the a elements in the header list */
header nav ul li a{
    color: #214b6d;
    padding: 10px 15px;
    font-weight: bolder;
    font-size: 1.0vw;
    text-decoration: none;
    float: right;
    text-shadow: 0 0 10px rgba(90, 86, 86, 0.247);
}/* hover pseudo */
header nav ul li a:hover {
    background: rgba(33, 75, 109, 0.568);
    color: whitesmoke;
    border-radius: 10px;
    text-shadow: none;
  }
/* -HEADER STYLE ENDS- */

/* SECTION STYLE STARTS */
section{
    padding: 60px;
}
/* -SECTION STYLE ENDS- */

/*HERO STYLE SECTION START*/
.hero{
    background-image: url("../images/hero.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 855px;
    background-attachment: fixed;
    background-position: 80%;
}
.hero div p{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 5.0s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  /* the typing effect */
  @keyframes typing {
    from { width: 10% }
    to { width: 90% }
  }
  
  /* the typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  /* -HERO SECTION STYLE ENDS- */